{% load static %}

<nav class="navbar navbar-light" style="background-color: lightskyblue">
  <div class="container">    
    <a class="navbar-brand" href="{% url 'redirects:index' %}">
      <img src="{% static 'img/logo.png' %}" width="50" height="30" class="d-inline-block align-top" alt="">
      <span style="color:red">Trust</span><span style="color:blue">Redirect</span>Generator
    </a>     
    <ul class="nav nav-pills">
      {% with request.resolver_match.view_name as view_name %}
      <li class="nav-item">              
        <a class="nav-link {% if view_name  == 'redirects:index' %}active{% endif %}" 
           href="{% url 'redirects:index' %}"
        >RU
        </a>
      </li>      
      <li class="nav-item">
        <a class="nav-link {% if view_name == 'redirects:index_en' %}active{% endif %}" 
          href="{% url 'redirects:index_en' %}"
          >EN
        </a>
      </li>

      <!-- Проверка: авторизован ли пользователь? --> 

      {% if user.is_authenticated %}      
      <li class="nav-item"> 
        <a class="nav-link link-light {% if view_name == 'users:password_change' %}active{% endif %}" 
        href="{% url 'users:password_change' %}"
        >Изменить пароль</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link link-light" href="{% url 'users:logout' %}">Выйти</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        >Пользователь: {{ user.username }}</a>
      </li>
      {% else %}
        <li class="nav-item"> 
          <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}" 
            href="{% url 'users:login' %}">Войти
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}" 
            href="{% url 'users:signup' %}">Регистрация
          </a>
        </li>        
      {% endif %}
      {% endwith %} 
    </ul> 
  </div>
</nav>      
