{% extends 'base.html' %}

{% block title %}  
  {{title}}
{% endblock %}
	 
{% block content %}

  <div class="row">
    <article class="col-3">

    </article>  

    <article class="col-6" style="font-size: 22px;">

      {% if user.is_authenticated %}      
      <li class="nav-item">
        <a class="nav-link"
        >Пользователь: {{ user.username }}</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" 
        href="{% url 'redirects:office' %}"
        >Войти в личный кабинет</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
      </li>
      
      {% else %}
      <label>Приветствуем Вас в нашем сервисе!</label><br>
      <label>Для дальнейшей работы авторизуйтесь или пройдите регистрацию.</label><br>
        <li class="nav-item"> 
          <a class="nav-link" 
            href="{% url 'users:login' %}">Войти
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" 
            href="{% url 'users:signup' %}">Регистрация
          </a>
        </li>        
      {% endif %}
      
    </article> 
    
  </div>

{% endblock content%}

