{% extends 'base.html' %}

{% block title %}  
  {{title}}
{% endblock %}
	 
{% block content %}

  <div class="row">
    <article class="col-3">

    </article>  

    <article class="col-6" style="font-size: 22px;">

      <label>Приветствуем Вас в нашем сервисе!</label><br>
      <label>Для дальнейшей работы авторизуйтесь или пройдите регистрацию.</label><br>
      <label>Здесь будет описание функционала сервиса.</label><br>     
           
    </article> 
    
  </div>

{% endblock content%}

